[defaults]
inventory = ./inventory
roles_path = ./roles
collections_path = ./collections/
#gathering = explicit
display_skipped_hosts = false
log_path = /var/ansible/jason.log

[privilege_escalation]
become = True
