{% set ns = namespace(count=0) %}
{% for fruit in fruits %}
{% set ns.count = ns.count + 1 %}
Fruit number {{ ns.count }} - {{ fruit }}
{% if not fruit == "carrot" %}
Non-Fruit number {{ loop.index }} - {{ fruit }}
{% endif %}
{% endfor %}
