---
catalystcenter_host: <A.B.C.D>
catalystcenter_port: 443
catalystcenter_username: <username>
catalystcenter_password: <password>
catalystcenter_version: 2.3.7.6
catalystcenter_verify: False
catalystcenter_debug: False
catalystcenter_log_level: [CRITICAL, ERROR, WARNING, INFO, DEBUG]
catalystcenter_log_file_path: <file_path>
catalystcenter_log_append: True
